@import 'variables'

html,
body,
div,
h1,
p,
a,
video
  margin: 0
  padding: 0

.bebas
  font-family: $main-font, Arial

body
  background-color: $green
  font-family: Arial
  color: $white

iframe
  border-style: none
  transition: top 1s, left 1s, right 1s, bottom 1s
