@import 'variables'

body
  background-color: $green
  margin: 0

#wall_1
  background: url('../img/cultuur.jpeg') repeat
  background-size: cover
  background-attachment: fixed
#wall_2
  background: url('../img/vereniging.jpeg') repeat
  background-size: cover
  background-attachment: fixed

#sport_wall_1
  background: url('../img/sport/dopie2.jpg') repeat
  background-size: cover
  background-attachment: fixed

#sport_wall_2
  background: url('../img/sport/taurus2.jpg') repeat
  background-size: cover
  background-attachment: fixed

#sport_wall_3
  background: url('../img/sport/tenn.jpg') repeat
  background-size: cover
  background-attachment: fixed

#sport_wall_4
  background: url('../img/sport/svrc.jpg') repeat
  background-size: cover
  background-attachment: fixed

#sport_wall_5
  background: url('../img/sport/yeti.jpg') repeat
  background-size: cover
  background-attachment: fixed
.subnavigation
  text-align: center
  width: 100%
  background-color: $dark_green
  padding: 15px 0
  a
    color: white
    text-decoration: none
    font-family: $main-font
    letter-spacing: .1em
    font-size: 1.4em
    margin: 0 20px
    transition: color .2s
    &:hover
      color: gray
.navigation
  width: 100%
  text-align: center
  .left-wing
    display: inline-block
    width: 200px
    width: calc(50% - 150px)
    text-align: right
    @media screen and (max-width: 500px)
      display: block
      width: 100%
      text-align: center
      margin-top: 100px
  .right-wing
    display: inline-block
    width: calc(50% - 150px)
    text-align: left
    @media screen and (max-width: 500px)
      display: block
      width: 100%
      text-align: center
  .active
    color: gray !important
  a
    font-family: $main-font
    color: white
    text-decoration: none
    font-size: 2em
    letter-spacing: .1em
    margin: 20px
    transition: color .2s
    &:hover
      color: gray !important
    &:visited
      color: white
  img
    width: 200px
    height: auto
    transition: all .3s
    &:hover
      transform: rotate(-10deg)
      opacity: 0.7

.content
  margin: 0
.row
  width: 100%
  margin: 0
  background-color: $green
.title
  margin: 0
  position: relative
  .image
    width: 100%
    min-height: 300px
    background: black
    z-index: 1
  h2
    position: absolute
    bottom: 0
    font-size: 3em
    color: #fffdea
    font-family: $main-font
    letter-spacing: 0.1em
    width: 100%
    text-align: center
    margin: 0
.text
  max-width: 800px
  margin: 0 auto
  font-family: sans-serif
  font-size: 1.2em
  p
    padding: 20px
    margin: 0
    color: #fffdea
.virgielfm
  position: fixed
  top: 0
  right: 0
  z-index: 100
  margin: 0
  img
    width: 200px
    z-index: 100
    height: auto
.footer
  width: 100%
  margin: 0
  text-align: center
  padding: 40px 0
  color: white
  font-size: 1.3em
  font-family: sans-serif
  a
    color: white
    transition: all .2s
    &:hover
      color: gray
